<template>
	<div>
		<div class="tile is-ancestor" v-for="gridParent in gridList">
			<div class="tile is-parent" :class="tileSize" v-for="gridItem in gridParent">
				<article class="tile is-child box">
					<div class="content is-marginless">
						<h2> <a href="#" @click="selectGrid(gridItem)">{{ gridItem.name }}</a></h2>
						<p> {{ gridItem.caption }} </p>
					</div>

					<figure class="image is-4by3">
						<a href="#"><img :src="gridItem.image" @click="selectGrid(gridItem)"></a>
					</figure>
				</article>
			</div>
		</div>
		
		<div class="portfolio-details">
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			chunks: {
				default: 3
			}
		},

		data() {
			return { 
				grid: [],
			};
		},

		computed: {
			gridList() {

				var i, j, temparray;
				var gridList =  [];

				for (i=0,j=this.grid.length; i<j; i+=this.chunks) {
					temparray = this.grid.slice(i,i+this.chunks);
					gridList.push(temparray);
				}
				
				return gridList;
			},
			tileSize(){
				return "is-" + Math.round(12 / this.chunks);
			}
		},

		created() {
			this.grid = this.$children;
		},
		methods: {
			selectGrid(selectedGrid){
				this.grid.forEach(grid => {
					grid.isActive = (grid.name == selectedGrid.name)
				});
			}
		}
	}
</script>