<template>
	<div v-show="isActive">
		<modal @close="isActive=false">
			<slot></slot>
		</modal>
	</div>
</template>

<script>
	import Modal from "./Modal.vue";
	export default {
		components: { Modal },
		props: {
			name: { required: true},
			caption: { default: "caption" },
			image: { default: "dist/images/placeholders/640x480.png"}
		},
		data () {
			return {
				isActive: false,
			}
		},
		methods: {
			htmlContent(htmlvar) {
				return htmlvar;
			}
		}
	}
</script>