<template>
	<footer class="footer">
		<div class="container">
			<div class="content has-text-centered">
				<p>
					By <a href="http://prodevmg.bitbucket.io">Martin Griffith</a>. All rights reserved. | <a href="mailto:martin.griffith@yahoo.com">martin.griffith@yahoo.com</a>
				</p>
				<p>
					<a class="icon" href="http://bitbucket.org/prodevmg">
						<i class="fa fa-github"></i>
					</a>
				</p>
			</div>
		</div>
	</footer>
</template>

<script>
	export default {
		
	}
</script>