<template>
	<div>
		<div class="columns">
			<div class="column">
				<div class="navbar-brand">
					<a class="navbar-item" href="http://prodevmg.bitbucket.io">
						<img src="dist/images/mylogo.png" alt="Martin Griffith">
					</a>
				</div>
			</div>
			<div class="column">
				<div class="tabs is-right">
					<ul>
						<li v-for="tab in tabs" :class="{'is-active' : tab.isActive }">
							<a :href="tab.href" @click="selectTab(tab)"> {{ tab.name }} </a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="tabs-details">
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return { tabs: [] }
		},
		created() {
			this.tabs = this.$children;
		},
		methods: {
			selectTab(selectedTab) {
				this.tabs.forEach( tab => {
					tab.isActive = (tab.name == selectedTab.name);
				})
			}
		},
	}
</script>