<template>
  <div id="app">
    <tabs>
      <tab name="About" :selected="true">
        <h1 class="title">
          Hi!
        </h1>
        <article class="content">
          <p>My name is Martin Griffith, I'm a Front and Backend developer with more than 5 years of hands on experience in the field of Software Development, with previous experience in System Administration.</p>

          <p>I have extensive experience using standard front-end technologies such as <span class="highlighted-item">HTML5</span>, <span class="highlighted-item">CSS 3</span>, and <span class="highlighted-item">ES6 JavaScript</span>. I've worked with precompilers such as <span class="highlighted-item">SASS</span>, dependency managers such as <span class="highlighted-item">npm</span> and PHP's <span class="highlighted-item">composer</span>, and front-end frameworks such as <span class="highlighted-item">Vue.JS</span>, all of which are kept minified and cross-browser compatible by using tools such as <span class="highlighted-item">Webpack</span> and <span class="highlighted-item">Babel</span>.</p>

          <p>On the back-end I'm a lover of <span class="highlighted-item">Php</span> and <span class="highlighted-item">Laravel</span>, <span class="highlighted-item">Node.js</span>, and <span class="highlighted-item">MySQL</span> for persistence. I have wide ranging experience working with CMS platforms like <span class="highlighted-item">Wordpress</span>.</p>

          <p>I've worked with uber ambitious and successful clients ranging in size from Fortune 500, to simple startups and indivuduals who have a dream they'd like to see brought forth. I've worked with sectors including but not limited to: Education, Science, Medicine, Logistics, Ecommerce, and Finance.</p>

          <p>My experience with each new project gives me a wealth of inside knowledge that lends itself to future success and the ability to merge, mix and bring ideas and uncommon solutions to the table. Converting business logic into high level applications that uniquely serve the needs of the client and their end users.</p>

          <p>This porfolio contains a few descriptions of a small sample of the public facing projects I've contributed to, as well as some basic code samples. For a more in-depth dive into my past projects, technical proficiency, and other questions or enquiries on my availability, I welcome you to get in touch <a href="mailto:martin.griffith@yahoo.com">here </a> and drop me a friendly greeting.</p>

          <p>Thanks and look forward to hearing from you soon! -Martin</p>
        </article>  
      </tab>


      <tab name="Projects">
        <h1 class="title">
          Projects
        </h1>

        <grid chunks="3">
          <grid-item name="Carlyle Analytics" caption="Backend Analytics Engine Re-design" image="dist/images/projects/carlyle.png">
            <div class="content">
              <p><strong>Summary: </strong>Backend Analytics Engine Re-design</p>
              <p><strong>Technologies: </strong>Laravel, MySQL, JS, Various API's</p>

              <p>In 2016, I helped build the backend framework (Controllers, Views and Models) for a custom reporting and analytics gathering application for Carlyle's internal team. This project was taken on by myself and a team of developers.</p>

              <p>It was designed to be a complete application with functionality subdivided into multiple major modules. I helped with some aspects of API integration, PDF Generation, front-end Data Visualization and other tasks.</p>

              <figure>
                <img src="dist/images/projects/carlyle.png">
                <figcaption>
                  Figure 1: Carlyle Analytics Dashboard
                </figcaption>
              </figure>
            </div>
          </grid-item>

          <grid-item name="Capital List" caption="Wordpress Theme Customization and SEO" image="dist/images/projects/capital.jpg">
            <div class="content">
              <p><strong>Summary: </strong>Wordpress Theme Customization and SEO</p>
              <p><strong>Technologies: </strong>Wordpress, CSS3</p>

              <p>In 2012 toward the beginning of my career, I helped with the WordPress theme design for Capital List, helping to facilitate a smooth and pleasing user experience.</p>

              <figure>
                <img src="dist/images/projects/capital.jpg">
                <figcaption>
                  Figure 1: Capital List Frontpage (Tablet Rendering)
                </figcaption>
              </figure>
            </div>
          </grid-item>

          <grid-item name="Ecclesial Notifications" caption="Backend Framework, Information Architecture, Feature Development" image="dist/images/projects/ecclesial.jpg">
            <div class="content">
              <p><strong>Summary: </strong>Backend Framework, Information Architecture, Feature Development</p>
              <p><strong>Technologies: </strong>Laravel, CSS3, JS</p>

              <p>In this project I took on an existing code-base, refactored it to improve clarity, and implemented new features.</p>

              <figure>
                <img src="dist/images/projects/ecclesial.jpg">
                <figcaption>
                  Figure 1: Ecclesial homepage (Desktop and Mobile Rendering)
                </figcaption>
              </figure>
            </div>
          </grid-item>

          <grid-item name="Supps 2 Go" caption="Front End Development, Ecommerce" image="dist/images/projects/supps.png">
            <div class="content">
              <p><strong>Summary: </strong>Front End Development, Ecommerce</p>
              <p><strong>Technologies: </strong>Shopify, Liquid, JS, CSS</p>

              <p>Helping improve a client's e-commerce presence, I worked with Shopify's liquid templating system to alter core functionalities. Implemented JS scripts to affect the users browsing experience.</p>

              <figure>
                <img src="dist/images/projects/supps.png">
                <figcaption>
                  Figure 1: Supps 2 Go homepage (Desktop)
                </figcaption>
              </figure>
            </div>
          </grid-item>

          <grid-item name="Traxle Laboratories" caption="Front End Development, Theme Customization" image="dist/images/projects/traxle.jpg">
            <div class="content">
              <p><strong>Summary: </strong>Front End Development, Theme Customization</p>
              <p><strong>Technologies: </strong> HTML5, CSS3, JS</p>

              <p>An early project back in 2012. It involved converting photoshop elements into functional web-ready standards compliant code, essentially building a website from scratch given design props.</p>

              <figure>
                <img src="dist/images/projects/traxle.jpg">
                <figcaption>
                  Figure 1: Traxle Laboratories homepage (Desktop)
                </figcaption>
              </figure>
            </div>
          </grid-item>

        </grid>
      </tab>


      <tab name="Code">
        <h1 class="title">
          Code (A minimal sampling)
        </h1>
        <grid chunks="4">
          <grid-item name="Singleton Design Pattern" caption="An implementation of the Singleton design pattern in PHP" image="dist/images/code/php.png" :selected="true">

            <div class="content">
              <p>Excerpt from an implementation of the Strategy Design Pattern in PHP.</p>
              <p><strong>Test Requirements:</strong> 
                <button class="button is-small" v-on:click=" collapsed = !collapsed">Show more</button>
                <ul :class="{'is-collapsed' : collapsed }">
                  <li>A basic configuration class that allows setting and getting of key value pairs</li>
                  <li>Implements the Singleton pattern to ensure that only one instance of the class is instantiated</li>
                  <li>Implements the Iterator interface to iterate over the keys and values in the config</li>
                  <li>Allow for getting and setting values with array notation AND object notation</li>
                  <li>get() should accept a default as the second parameter and used if a value does not exist</li>
                  <li>get() should throw an exception if there is no value and no default</li>
                  <li>Allows for checking if a key exists by using a function &lt;key name&gt;Exists()</li>
                  <li>Load JSON serialized data and export JSON encoded when cast to a string</li>
                  <li>Uses the PEAR coding standards</li>
                  <li>Must work with PHP 5.2+ and not use any extensions or external dependencies</li>
                </ul>
              </p>
              <p><strong>Filename: </strong> <span class="tag">configuration.php</span></p>
              <code-sample :html="phpSingleton"></code-sample>
            </div>
            
          </grid-item>

          <grid-item name="Integral Wordpress Plugin" caption="A custom Wordpress plugin" image="dist/images/code/wordpress.png">
            <div class="content">
              <p>A plugin to sync user data between Wordpress and Mailchimp, helping manage the interaction between the 2.</p>
              
              <p><strong>Filename: </strong> <span class="tag">integralwp-enhancer.php</span></p>
              <code-sample :html="integralWP"></code-sample>
            </div>
          </grid-item>

          <grid-item name="Laravel Mock Blog App" caption="A Laravel controller sample"image="dist/images/code/laravel.png">
            <div class="content">
              <p>The following is a fragment from a larger Laravel app: a blog built from scratch. This short sample is taken from the application's Post Controller, demonstrating several concepts including Laravel's <strong><em>Route Model Binding, Dependency Injection, Built in Request Validation, Session Flashing</em></strong> and others.</p>
              
              <p><strong>Filename: </strong> <span class="tag">PostsController.php</span></p>
              <code-sample :html="postsController"></code-sample>
            </div>
          </grid-item>

          <grid-item name="Example 4" caption="Coming Soon!">
            <h1>More examples coming soon!</h1>
          </grid-item>

          <grid-item name="Example 5" caption="Coming Soon!">
            <h1>More examples coming soon!</h1>
          </grid-item>

        </grid>
      </tab>


      <tab name="Resume">
        <h1 class="title">
          Resume
        </h1>
        
        <div class="content">

          <div class="resume-item">
            <p><strong>Freelance Development Consultant, Aug 2012 to Present</strong></p>
            <ul>
              <li>Leveraged Geo-location tools to provide location based reporting services.</li>
              <li>Worked with REST APIs.</li>
              <li>Profiled web application performance.</li>
              <li>Used OOP principles to produce clear, PSR-2 compliant code for team members.</li>
              <li>Leveraged Laravel and Node.js for seam-less back-end development.</li>
              <li>Turned design ideas into web user interfaces, with standards compliant HTML and CSS.</li>
              <li>Built real time interactive apps with the help of ES6 JavaScript, and front-end frameworks such as Vue.JS.</li>
              <li>Helped integrate custom charting and data visualization into reports, as well as document generation (CSV, PDF, etc).</li>
              <li>Managed WordPress/ Drupal installs, providing support such as theme modification and plugin development.</li>
            </ul>
          </div>

          <div class="resume-item">
            <p><strong>System Administrator/ Lead Developer, Protel BPO LTD – Apr 2013 to Jun 2017</strong></p>
            <ul>
              <li>Configured and managed Linux and Windows Servers, providing services such as Active Directory, Group Policies, File servers, Web Servers using Linux, Apache, MySQL and PHP.</li>
              <li>Aided manager to employee collaboration by building a custom internal chat system.</li>
              <li>Helped the recruitment department collect and sift through potential candidates by building a recruitment system.</li>
              <li>Improved overall system security, leading the organization to P.C.I certification status 2 years in a row.</li>
              <li>Improved employee productivity by building internal web apps for automating common on-the-call tasks.</li>
              <li>Improved network and server up-time by providing routine maintenance and checks, configuring backups and fallback equipment.</li>
              <li>Helped scale and grow the IT department by providing technological recommendations, and integrating new servers and equipment.</li>
              <li>Advocated for staff technical literacy, provided presentations, one on one coaching on the use of our systems.</li>
              <li>Provided information security training for all new hires.</li>
            </ul>
          </div>

          <div class="resume-item">
            <p><strong>Junior Developer, Captain Marketing – Feb 2012 to Jun 2012</strong></p>
            <ul>
              <li>Helped build or maintain customer's e-commerce platforms (ColdFusion, WordPress, Woocommerce, Shopify).</li>
              <li>Built basic front-end Static websites, based on standards compliant HTML, JavaScript, and CSS.</li>
              <li>Helped to build and maintain web apps using common back-end tools: PHP, MySQL.</li>
              <li>Aided users in WordPress theme customization.</li>
            </ul>
          </div>

          <div class="resume-item">
            <p><strong>Web Developer/ Helpdesk, Belize Archives Department – Jan 2010 to June 2010</strong></p>
            <ul>
              <li>Helped to maintain the department's internal, Joomla based archiving system.</li>
              <li>Configured regular tape backups for internal records.</li>
              <li>Performed troubleshooting and provided solutions to hardware and software issues.</li>
            </ul>
          </div>
        </div>
        <div class="box has-text-centered"><a target="_blank" href="./MartinG_Resume.pdf">View/ Download Complete PDF</a></div>
        
      </tab>


      <tab name="Contact">
        <h1 class="title">
          Contact
        </h1>
        <p class="container">
          For all enquiries please reach me at <a href="mailto:martin.griffith@yahoo.com">martin.griffith@yahoo.com</a>. Looking forward to hearing from you!</p>
        </p>
      </tab>
    </tabs>

    <portfolio-footer></portfolio-footer>
  </div>
</template>

<script>
import Tab from "./components/Tab.vue";
import Tabs from "./components/Tabs.vue";
import Grid from "./components/Grid.vue";
import GridItem from "./components/Grid-Item.vue";
import CodeSample from "./components/Code-Sample.vue";
import PortfolioFooter from "./components/Portfolio-Footer.vue";
import {phpSingleton, integralWP, postsController} from './assets/js/code-examples'

export default {
  name: 'app',
  components: {Tab, Tabs, Grid, GridItem, CodeSample, PortfolioFooter},
  data () {
    return {
      collapsed: true,
      phpSingleton: phpSingleton,
      integralWP: integralWP,
      postsController: postsController
    }
  }
}
</script>

<style>
</style>
